*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* shared styles */
.display-flex{
    display: flex;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main>section{
    margin-top: 130px;
}



/* dark 2 */
.text-grey{
    color: #424242; ;
}
/*dark 3*/
.text-light-grey{

    color: #727272;
}

/* heder styles */

 /* nav bar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-left: 30px;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-containt{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 50px;
}

/*teams-section*/
.teams-section{
    align-items: center;
}
.teams-section img{
    width: 100%;

}

.team-img-container{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    gap:24px;
}

.team-feature{
    margin-left: 130px;
    max-width: 530px;

}
.feature-title{
    font-size: 2.8rem;
    font-weight: 500px;
}

.some-facts h3{
    margin-bottom: 30px;
}

.fact{
    border: 1px solid #FF900E;
    width: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    gap: 30px;
}
.fact-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px; 
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/*responsive media */
@media screen  and (max-width:576px){
    .navbar,.navlinks,.teams-section,{
        flex-direction: column;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .team-feature{
    margin: 10px auto;
    }
    .fact-card{
        flex-direction: column;
    }
}