@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* shared styles */
.display-flex{
    display: flex;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}



/* dark 2 */
.text-grey{
    color: #424242; ;
}
/*dark 3*/
.text-light-grey{

    color: #727272;
}

/* heder styles */

 /* nav bar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-left: 30px;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-containt{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}